/*
    @include __on-theme--dark {
        border-color: $__border--dark;
    }

    @include __on-theme--light {
        border-color: $__border--light;
    }

$__bg__gray--1: #F7F6F4;
$__bg__gray--2: #EFEEEC;
$__bg__white--1: #393939;
$__bg__white--2: #414141;

*/
.#{$__classPrefix}__levelMenu{
    background: $__bg__gray--1;
    padding: __remcalc(18px);

    @include __on-theme--dark {
        background: $__bg__white--1;
    }

    @include __on-theme--light {
        background: $__bg__gray--1;
    }

    > .container{
        margin: 0 !important; 

        [class^='col'] {
            text-align: center;
            border-right: 1px dashed $__border--light;
            line-height: __remcalc(60px);

            @include __on-theme--dark {
                border-color: $__border--dark;
            }
        
            @include __on-theme--light {
                border-color: $__border--light;
            }

            
            &:last-of-type{
                border: 0;
            }

            @include media-breakpoint-only(xs) {
                border: 0;

                &:first-of-type{
                    border-right: 1px dashed $__border--light;

                    @include __on-theme--dark {
                        border-color: $__border--dark;
                    }
                
                    @include __on-theme--light {
                        border-color: $__border--light;
                    }
                }

                &:last-of-type{
                    margin-top: __remcalc(16px);
                }
            }
        }
    }

    a{
        text-decoration: none;
        font-weight: bold;
    }

   
}

/*
Ajuste pontual no levelMenu das paginas do periódico.
*/
.levelMenu{
    .journal &{

        margin-top: 1.5rem;

    }
}