$__font__family: 'Noto Sans', sans-serif;
$__font__family--brand: 'Arapey', serif;
$__font__rem: 16px;

$__font__rem--article: 18px;

$__font__line-height: 1.2em;
$__font__line-height--article: 1.6em;