body, p, h1, h2, h3, h4, h5, h6, input, textarea {
    text-rendering: optimizeLegibility;
}

body{
    
    
    &.top-nav-visible{

        padding-top: 115px;

        @media (min-width: 768px){ 

            padding-top: 74px; 
            
        }

    }

}

/*
Ajuste pontual Opac - section.journalInfo
*/


.#{$__classPrefix}__accessibility-note{
    display: block;
    background: $__bg__gray--1;
    padding: 1rem;

    @include __on-theme--dark {
        background: $__bg__white--1;
    }

    @include __on-theme--light {
        background: $__bg__gray--1;
    }
}