$__button__radius: 4;

$__button__size--default: 40;
$__button__size--tiny: 24;
$__button__size--small: 32;
$__button__size--large: 48;

$__button__icon--default: 20;
$__button__icon--tiny: 12;
$__button__icon--small: 12;
$__button__icon--large: 24;

$__button__icon-margin--default: 16;
$__button__icon-margin--tiny: 6;
$__button__icon-margin--small: 16;
$__button__icon-margin--large: 20;