/*
Logo SciELO

consultar components/logo
*/



/*
Logo Open Access

A classe deve ser aplicada em elementos
do tipo img

*/

.logo-open-access{
	height: 2em;
	width: auto;

	h1 &,
	h2 &,
	h3 &,
	h4 &,
	h5 &,
	h6 &{
		height: .9em;
		width: auto;
	}

	footer &{
		height: 1.5em;
		width: auto;
	}

}